* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ==============================================================================
                                  NAVBAR SECTION
   ============================================================================== 
*/

.navbar {
    --bs-navbar-toggler-border-radius: 1px;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-brand-font-size: 1.5rem;
    --bs-navbar-brand-color: #fff;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #7149C6 !important;
}

.navbar-brand {
    color: #000;
}

.nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-nav .nav-link.active:hover {
    color: #000;
}

/* ==============================================================================
                                  NAVBAR SECTION
   ============================================================================== 
*/

.hero-section {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 19%;
}

.hero-section a {
    text-decoration: none;
    color: #000;
    margin: 1%;
    font-weight: 600;
}

.hero-section a .sub-hero-section {
    width: 300px;
    height: 200px;
    border: 1px solid #7149C6;
    box-shadow: 0px 5px 10px -4px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3% 2%;
    border-radius: 5px;
    overflow: hidden;
}

.hero-section a .sub-hero-section i {
    color: #7149C6;
    margin: 10% 0;
    font-size: 3em;
}

.hero-section a .sub-hero-section i span {
    font-size: 0.7em;
}

/* .hero-section .sub-hero-section iframe {
    width: 300px;
    height: 170px;
} */

/* ==============================================================================
                                MEDIA QUERY SECTION
   ============================================================================== 
*/

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .hero-section {
        margin-top: 5%;
    }

}